@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,600&family=Poppins:wght@300;600;700,900&display=swap");

$bg-white: #ffffff;
$bg-light-grey: #e4e4e1;
$bg-dark-grey: #4a4944;
$main-red: #cc0000;
$main-purple: #6b1f55;
// $main-purple: #822757;
$main-grey: #6f6e67;

$shadows: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

$heading-font: "Poppins", sans-serif;
$heading-size: 1.375rem;

$main-text-font: "Open Sans", sans-serif;
$main-text-size: 1rem;

$line-height-title: 2rem;
$line-height-text: 1.5rem;

$margin-between-container-section: 4em;
$margin-between-sections: 3em;

$gap-between-container: 3em;
