.text-scroll-container {
	display: flex;
	position: relative;
	background-color: $main-red;
	overflow: hidden;
	padding: 0 1em;
	align-items: center;
	height: 2em;

	.static-text {
		position: absolute;
		top: 0;
		left: 0;
		font-weight: 700;
		color: #fbfbfb;
		background-color: $main-red;
		padding: 0 0.7em;
		z-index: 1;
		margin: 0.2em 0;
		height: auto;
	}

	.scroling-news-wrappper {
		display: inline-block;
		white-space: nowrap;
		animation: rightToLeft 12.5s linear infinite;
	}

	.news-text-item {
		display: inline-block;
		padding-right: 30px;
		color: #fff;
	}

	@keyframes rightToLeft {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}

#navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6em;
	padding: 0 1.25em;
	margin: auto 0;

	.logo {
		img {
			height: 4em;
		}
	}

	.menu {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;

		.icon-search {
			font-size: 2em;
			margin-right: 1.3em;
		}

		.hamburger-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 1.5em;
		}

		.hamburger {
			width: 40px;
			height: 5px;
			background-color: #000;
			position: relative;
			transition: top 0.5s;
		}

		.hamburger::before,
		.hamburger::after {
			content: "";
			position: absolute;
			width: 2.5em;
			height: 0.3125em;
			background-color: #000;
			transition: top 0.5s;
		}

		.hamburger::before {
			top: 1em;
		}
		.menu-text {
			margin-top: 1.3em;
			font-weight: 700;
		}
	}

	ul {
		list-style: none;
		display: none;

		// li {
		// 	margin: 10px;
		// }
	}

	&.show ul {
		display: block;
	}

	.close {
		position: absolute;
		top: 15px;
		width: 40px;
		height: 5px;
		background-color: #000;
		transition: transform 0.5s ease-in;
		transform: rotate(30deg);

		&:before {
			content: none;
			display: none;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			width: 40px;
			height: 5px;
			background-color: #000;
			transition: transform 0.5s ease-in;
			transform: rotate(123deg);
		}
	}
}
