.row {
	gap: 2.4em;
}
#hero-section {
	width: 100%;
	height: calc(100vh - 7em);
	background: url(/images/hero_fallen_tree.jpg);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	color: $white;
	margin-bottom: 4em;

	.hero-text-container {
		text-align: center;
		background-color: rgba($main-red, 0.45);
	}
	.btn-cta {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $main-red;
		border: none;
		margin: auto 0;
		font-size: 1.2rem;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.row {
		row-gap: 6em;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	// .row {
	// 	gap: 2em;
	// }

	.hero-text-container {
		margin-top: 2em;
		text-align: center;
		margin: 1rem;
		padding: 0 4em;
		background-color: rgba($main-red, 0.45);
		line-height: 1.6rem;
		width: 100%;
		h1 {
			font-size: 2rem;
		}
		p {
			font-size: 1.5rem;
		}
	}
	.btn-secondary {
		border: none;
		margin: auto 0;
		font-size: 1.8rem;
		width: 40%;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.row {
		gap: 3em;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.row {
		gap: 4em;
	}
}
