@import "bootstrap/scss/bootstrap";
@import "variables";
@import "header";
@import "hero-section";

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: $main-text-font;
	font-size: $main-text-size;
	line-height: $line-height-text;
	font-weight: 400;
	background-color: $bg-white;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	// max-width: 1280px;
	color: #333333;
}

h1,
h2,
h3 {
	font-family: $heading-font;
	line-height: $line-height-title;
	font-size: $heading-size;
	font-weight: 600;
}

#app {
	background-color: #d5d5d5;
}
