.title-container {
	font-family: $heading-font;
	background-color: $main-red;
	color: #fff;
	text-align: center;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
	margin: 0 0.625em 2em 0.625em;
}

.title {
	font-family: $heading-font;
	line-height: $line-height-title;
	margin: 0 auto;
	padding: 0.5em;
}
